html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    background-color: $secondary-background-color;
}

#app, #appFrame, #editor {
    height: 100%;
}

#renderer {
    height: 100%;
    width: 100%;
}

#editorInspector {
    background-color: aliceblue;
}